<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<style>
img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
    /*height: 50%;
    width: 135px;
    max-height: 50%;
    width: 50%;*/
}
body {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.image {
  height: auto;
  width: 800px;
}
</style>
</head>
<body style="background-color:pink;">
<h1>BUGLE</h1>
<p>generate music from text!</p>
<div class="image"><img src="static/images/waves.jpg" alt="sound waves" style="width:50%;" /></div>
<div align="middle">
<form method="POST">
  {{form.hidden_tag()}}
FEED ME: {{ form.data }} <br />
  {% for f in form.swing %}
  {{ f }} {{ f.label }}<br />
  {% endfor %}
  <input type="submit" value="Submit">
</form>   
</div>

</body>
</html>
